*.json filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
examples/mof/classification/SevenNet.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/classification/input.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/classification/M3GNet.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/classification/MACE-MPA.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/classification/MACE-MP(M).pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/classification/MatterSim.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/classification/ORBv2.pkl filter=lfs diff=lfs merge=lfs -text
examples/c2db/*.db filter=lfs diff=lfs merge=lfs -text
examples/c2db/*.parquet filter=lfs diff=lfs merge=lfs -text
