*.json filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
examples/mof/ORBv2.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/test.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/CHGNet.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/M3GNet.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/MACE-MP-0b3.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/MACE-MPA.pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/MACE-MP(M).pkl filter=lfs diff=lfs merge=lfs -text
examples/mof/MatterSim.pkl filter=lfs diff=lfs merge=lfs -text
