name: Sync to Hugging Face hub

on:
  workflow_run:
    workflows: [Python Test]
    branches: [main]
    types: [completed]
  workflow_dispatch:

jobs:
  sync-to-hub:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
          
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push -f https://HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/atomind/mlip-arena main