name: Python Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      # max-parallel: 2
      matrix:
        python-version: ["3.10", "3.11"]
        

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Restore cached virtualenv
      uses: actions/cache/restore@v4
      with:
        key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('requirements.txt') }}
        path: .venv


    - name: Install dependencies
      run: |
        python -m venv .venv
        source .venv/bin/activate
        python -m pip install --upgrade pip
        pip install torch==2.2.0
        bash scripts/install-pyg.sh
        bash scripts/install-dgl.sh
        pip install .[test]
        pip install .[mace]

    - name: List dependencies
      run: pip list
    
    - name: Saved cached virtualenv
      uses: actions/cache/save@v4
      with:
        key: venv-${{ runner.os }}-${{ steps.setup_python.outputs.python-version }}-${{ hashFiles('requirements.txt') }}
        path: .venv
      
    - name: Login huggingface
      if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN_READ_ONLY }}
      run:
        huggingface-cli login --token $HF_TOKEN

    - name: Run tests
      env:
        PREFECT_API_KEY: ${{ secrets.PREFECT_API_KEY }}
        PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
      run: |
        pytest -v tests