name: Python Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install torch==2.2.0
        bash scripts/install-pyg.sh
        bash scripts/install-dgl.sh
        pip install .[test]
        pip install .[mace]
        pip install "pynanoflann@git+https://github.com/dwastberg/pynanoflann#egg=af434039ae14bedcbb838a7808924d6689274168"

    - name: List dependencies
      run: pip list
      
    - name: Login huggingface
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN_READ_ONLY }}
      run:
        huggingface-cli login --token $HF_TOKEN

    - name: Run tests
      env:
        PREFECT_API_KEY: ${{ secrets.PREFECT_API_KEY }}
        PREFECT_API_URL: ${{ secrets.PREFECT_API_URL }}
      run: |
        pytest -v tests